<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mon application</title>
</head>
<body>
    <h1>{{ title | upper }}</h1>

    <p>Le vrai titre est {{ title }}</p>

    <a href="{{ path('hello', {'prenom': 'Martin', 'age': 20}) }}">Allez voir Hello</a>

    {#
    {% if age >= 18 %}
        <p>Vous êtes un adulte</p>
    {% elseif age >= 12 %}
        <p>Vous êtes un adolescent</p>
    {% else %}
        <p>Vous êtes un enfant</p>
    {% endif %}
    #}

    <ul>
        {% for compteur in 0..10 %}
            <li>{{ compteur }}</li>
        {% endfor %}
    </ul>

    {% for prenom, age in tableau %}
        {% if loop.first %}
            <strong>{{ loop.index }} - {{ prenom }} a {{ age }} ans</strong>
        {% elseif loop.last %}
            <em>{{ loop.index }} - {{ prenom }} a {{ age }} ans</em>
        {% else %}
            <p>{{ loop.index }} - {{ prenom }} a {{ age }} ans</p>
        {% endif %}
    {% endfor %}
</body>
</html>